*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif
}
.header{
    font-size: ;
    background-image: url(/imgs/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    width: 100%;
    height: 972px;
    position:fixed;
}
.container-navbar {
    text-align: ;
    display: flex;
    align-items: center;
    border: 1px solid rgba(170, 165, 165, 0.4);
    height: 71px;
    width: 1090px;
    margin-left: 450px;
    margin-top: 37px;
    align-content: space-between;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}
.log img {
    width: 50px;
    margin-top: 8px;
    margin-left: 15px;
}
.menu{
    display: flex;
    gap: 41px;
    
}
ul.menu{
    list-style: none;
    margin-right:2.2rem ;
    margin-top: 5px;
    transition: 2sc;
}


 .menu li a {
   text-decoration: none;
   color: white;
   transition: 1s all;
}
.menu li a:hover{
    color: orange;
    font-size: 16px;

}
.btn{
    background-color: #FF214F;
    padding: 10px;
    border-radius: 3px;
}
h2{
    font-size: calc(20px + (30 - 20) * ((100vw - 320px)/ (1200 - 320)));
    font-weight: 300;
    text-align: center;
    margin-top: 200px;
    color: white;
}
h1{
    text-align: center;
    margin-bottom: 40px;
    font-size:calc(40px + (90 - 40) * ((100vw - 320px)/ (1200 - 320))) ;
    color: white;

}
.buttom{
    margin-top: ;
    text-align: center;
    gap: 5px;
}
#service{
    text-decoration: none;
    border: 50px solid #FF214F;
    border: #FF214F;

}
div.main {
    display: flex;
    margin-left: 764px;
    gap: 12px;
}
#div-1 a {
    padding: 12px 40px 16px 40px;
    text-align: center;
    background-color: #FF214F;
    border: 1px solid #FF214F;
    border-radius: 39px;
    color: white;
    text-decoration: none;
    transition: 1s;
}
#div-1 a:hover{
    background-color:rgba(225,33,79,0.8);
    font-size: 17px;
}

#div-2 a{
    text-align: center;
    padding: 12px 40px 16px 40px;
    background-color:none;
    border: 1px solid rgb(201, 183, 183);
    border-radius: 39px;
    color:white;
    text-decoration: none;
    transition: 1s;
}
#div-2 a:hover{
    background-color: white;
    color: black;
    font-size: 17px;
}
div.parents{
    margin: 2px auto 2px auto;
}